body {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    color: #FFFFFF;
}

.banner_main {
    background-image: url("https://res.cloudinary.com/ddfzagwob/image/upload/v1670464660/blog-generico/img/main-news-img_pye3cc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 94vh;
    display: flex;
}

.banner_main a {
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
    display: inline;
}
nav {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    align-items: center;
}
.nav-phrase-container {
    display: inline;
    margin-left: 50px;
}
.profile-link {
    display: flex;
    margin-right: 50px;
    justify-content: flex-end;
}
.profile-link a {
    margin-right: 30px;
    align-self: center;
}

.search {
    display: flex;
    border: 1px solid #858585;
    background-color: transparent;
    width: 16rem;
    height: 2.5rem;
    align-items: center;
    color: #858585;
}

.gg-search{
    background-image: url("/Assets/Lupa_vector_20x20.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    margin: 0 10px 0 10px;
}

input {
    background-color: transparent;
    width: 15rem;
    align-items: center;
    border: none;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
}
